@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --bgColor: #333;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: #fd4;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.4rem;
}
main {
  width: 600px;
  margin: 50px auto;
}
h1 {
  color: var(--primaryColor);
}

h1 svg {
  width: 40px;
  fill: var(--primaryColor);
}
#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 6px 30px;
}
#buttons {
  text-align: center;
}
#info {
  color: var(--primaryColor);
}
button {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--textPrimary);
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}
div#game {
  line-height: 35px;
  height: 105px;
  overflow: hidden;
  position: relative;
}

div#game:focus {
  outline: 0;
}

#words {
  filter: blur(2px);
  color: var(--textSecondary);
}
#game:focus #words {
  filter: blur(0);
}
#focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 35px;
}

#game:focus #focus-error {
  display: none;
}

div.word {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  margin: 0 7px;
}

.letter.correct {
  color: #fff;
}
.letter.incorrect {
  color: red;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cursor {
  width: 2px;
  height: 1.6rem;
  background-color: var(--primaryColor);
  position: fixed;
  top: 206px;
  left: 425px;
  /* right: 440px;   */
  animation: blink 1s infinite;
  display: none;
}
#game:focus #cursor {
  display: block;
}

#game.over #words {
  opacity: 0.5;
  filter: blur(0px);
}
#game.over:focus #cursor {
  display: none;
}
#game.over #focus-error {
  display: none;
}
